{% extends 'base.html' %}

{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h1>These are Our Locations</h1>
    <img src="{% static 'images/page.jpeg' %}" alt="" width="400" height="500">
    <img src="{% static 'images/page1.jpeg' %}" alt="" width="400" height="500>
    <img src="{% static 'images/page2.jpeg' %}" alt="" width="400" height="500">
    <img src="{% static 'images/page3.jpeg' %}" alt="" width="400" height="500">
    <img src="{% static 'images/page4.jpeg' %}" alt="" width="400" height="500">
    <img src="{% static 'images/page5.jpeg' %}" alt="" width="400" height="500">
{% endblock %}