{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome to our Home page</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consequuntur corporis dolorum earum, eius in inventore ipsa ipsam iste labore maiores nam necessitatibus non odio placeat, quae quo soluta vel.</span><span>Accusantium eius eos fugit placeat soluta. Culpa cupiditate dicta, eos est id laborum libero neque odio ratione unde. Assumenda commodi illum nihil nisi omnis qui
        repellendus sint sit tempore unde!</span></p>

{% endblock %}